<div class="highlight" align="center">
  	<tabset>
	    <tab heading="聚會時間表">
    	  <table class="table">
		    <thead>
		      <tr>
		        <th>聚會類別</th>
		        <th>聚會時間</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td>主日崇拜</td>
		        <td>主日上午10:30-11:45</td>
		      </tr>
		      <tr>
		        <td>兒童主日學</td>
		        <td>主日上午10:30-11:45</td>
		      </tr>
		      <tr>
		        <td>周二查經禱告小組</td>
		        <td>禮拜二早上10:00-12:00(每周)</td>
		      </tr>
		      <tr>
		        <td>周三查經禱告小組</td>
		        <td>禮拜三晚上7:30-9:30(每周)</td>
		      </tr>
		      <tr>
		        <td>周五青少年團契</td>
		        <td>禮拜五晚上7:00-9:00(每周)</td>
		      </tr>
			  <tr>
		        <td>聖經朗誦團契</td>
		        <td>主日中午12:15-2:15(每月)</td>
		      </tr>
		    </tbody>
		  </table>
    	</tab>
    	<tab heading="主日服事表">
	    	<div align="center" style="width:350px;height:350px;padding-top:100px">
	    		<a href="http://traditional-odb.org" target="_blank"></a>
	    		<a ui-sref="agenda">信望愛教會 2016年10-12月 主日事奉輪值表</a>
	    	</div>
	    </tab>
	</tabset>
</div>

