<nav class="navbar navbar-default" style="margin-top: 70px">
  <div class="container-fluid">
    <ul class="nav navbar-nav nav-pills">
      <li>
        <a><i class="fa fa-child"></i> 信望愛教會</a>
      </li>
      <li>
        <a><i class="fa fa-calendar"></i> 周日2:00pm(國)</li></a>
      <li>
        <a><i class="fa fa-map-marker"></i> 2265 152 Street, Surrey BC, Cananda (近白石鎮)</a>
      </li>
      <li>
        <a><i class="fa fa-phone"></i> 604-538-9250</a>
      </li>
      <li>
        <a><i class="fa fa-envelope-o"></i> xwa_ca@gmail.com</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right nav-pills">
      <li>
        <a href="http://facebook.com/" target="_blank">
            <i class="fa fa-facebook-official"></i>
        </a>
        </li>
        <li>
        <a href="http://twitter.com/xwa_ca" target="_blank">
            <i class="fa fa-twitter"></i>
        </a>
        </li>
        <li>
        <a href="http://youtube.com" target="_blank">
            <i class="fa fa-youtube-square"></i>
        </a>
        </li>
        <li>
        <a href="http://youtube.com" target="_blank">
            <i class="fa fa-google-plus"></i>
        </a>
      </li>
    </ul>
  </div><!-- /.container-fluid -->
</nav>