<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img ng-src="img/leaf.png" height="60px"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a ui-sref="welcome">首頁</a></li>
        <li><a ui-sref="about">教會簡介</a></li>
        <li><a ui-sref="pastors">教會牧者</a></li>
        <li><a ui-sref="belief">教會信仰</a></li>
        <li><a href="https://www.facebook.com/media/set/?set=a.176138316154106.1073741829.100012738152341&type=1&l=4b6261481c" target="_blank">教會照片</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>