<div class="highlight">
	<tabset>
	    <tab heading="最新消息">
	    	<div align="center">
				<a class="twitter-timeline" href="https://twitter.com/Faithhopelovec"></a>
				<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
	    </tab>
	    <tab heading="教會周報">
	    	<div align="center">
	    		<iframe src="https://drive.google.com/embeddedfolderview?id=0B4Vdeo6z6m3eSllBb0RMd3NXem8#list" width="350" height="350" frameborder="0" scrolling="yes" seamless="seamless"></iframe>
	    	</div>
	    </tab>
	</tabset>
</div>



