<div class="highlight">
	<tabset>
	    <tab heading="最新消息">
	    	<div align="center">
				<a class="twitter-timeline" href="https://twitter.com/xwa_ca" data-widget-id="589137977512566784">Tweets by @xwa_ca</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
	    </tab>
	    <tab heading="教會周報">教會周報</tab>
    	<tab heading="教會小組">教會小組</tab>
	</tabset>
</div>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

