<div class="highlight background">
	<div class="container-fluid" ng-app ng-controller="Ctrl">
		<div class="row">
			<div class="col-xs-4">
				<img ng-src="img/lin.png" style="vertical-align:middle;height:100px" >
			</div>
			<div class="col-xs-8">
				<div class="line">講員﹕ 林鎮平牧師</div>
				<div class="line">講題﹕ 不再憂慮</div>
				<div class="line">時間﹕ {{date | date:'yyyy年MM月dd日'}}</div>
			</div>
		</div>
	<div>
	<div class="container-fluid">
		<audio id="player" controls="controls" src="media/part1.mp3" style="width: 300px">你的瀏覽器不支援HTML5播放器，請更新或下載收聽</audio>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-2" style="padding: 0px;font-size: 12px">03.14</div>
			<div class="col-xs-3" style="padding: 0px;font-size: 12px">林鎮平牧師</div>
			<div class="col-xs-5" style="padding: 0px;font-size: 12px">不再憂慮</div>
			<div class="col-xs-2" style="padding: 0px;font-size: 12px">
				<i class="fa fa-play"></i>
				&nbsp;
				<i class="fa fa-download"></i>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2" style="padding: 0px;font-size: 12px">03.07</div>
			<div class="col-xs-3" style="padding: 0px;font-size: 12px">林鎮平牧師</div>
			<div class="col-xs-5" style="padding: 0px;font-size: 12px">不再憂慮</div>
			<div class="col-xs-2" style="padding: 0px;font-size: 12px">
				<i class="fa fa-play"></i>
				&nbsp;
				<i class="fa fa-download"></i>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2" style="padding: 0px;font-size: 12px">03.07</div>
			<div class="col-xs-3" style="padding: 0px;font-size: 12px">林鎮平牧師</div>
			<div class="col-xs-5" style="padding: 0px;font-size: 12px">登山寶訓不再憂慮篇</div>
			<div class="col-xs-2" style="padding: 0px;font-size: 12px">
				<i class="fa fa-play"></i>
				&nbsp;
				<i class="fa fa-download"></i>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-right" style="padding: 20px;font-size: 12px">更早錄音...</div>
		</div>
		<div class="row" align="center">
			<iframe width="240" height="155" src="https://www.youtube.com/embed/8yeah8-Q6Uc" frameborder="0" allowfullscreen></iframe>
		</div>
	<div>
</div>

        
            