<div class="highlight background">
	<div class="container-fluid" ng-app ng-controller="Ctrl">
		<div class="row">
			<div class="col-xs-4">
				<img ng-src="img/lin.png" style="vertical-align:middle;height:100px" >
			</div>
			<div class="col-xs-8">
				<div class="line">講員﹕ 林鎮平牧師</div>
				<div class="line">講題﹕ 不再憂慮</div>
				<div class="line">時間﹕ {{date | date:'yyyy年MM月dd日'}}</div>
			</div>
		</div>
	<div>
	<div class="container-fluid">
		<audio id="player" controls="controls" src="media/part1.mp3" style="width: 300px">你的瀏覽器不支援HTML5播放器，請更新或下載收聽</audio>
	</div>
	<div class="container-fluid">
		<div class="row" align="center">
			<iframe width="300" height="150" src="https://www.youtube.com/embed/8yeah8-Q6Uc" frameborder="0" allowfullscreen></iframe>
		</div>	
		<div class="row" align="center">
			<iframe width="148" height="100" src="https://www.youtube.com/embed/rT0rhVhXnNA" frameborder="0" allowfullscreen></iframe>
			<iframe width="148" height="100" src="https://www.youtube.com/embed/rT0rhVhXnNA" frameborder="0" allowfullscreen></iframe>
		</div>	
		<div class="row">
			<div class="col-xs-12 text-right" style="padding: 20px;font-size: 12px"><a href="https://www.youtube.com/playlist?list=PLD96C166DBB2143C5" target="_blank">更早錄音...</a></div>
		</div>
	<div>
</div>

        
            