<div class="container">
	<div class="row">
		<div ng-controller="Carousel">
		  <div class="col-md-12">
		    <carousel interval="slideInterval">
		      <slide ng-repeat="slide in slides" active="slide.active">
		        <img ng-src="{{slide.image}}" style="margin:auto;">
		      </slide>
		    </carousel>
		  </div>
		</div>
	</div>

	<div class="row">
	  <div class="col-xs-6 col-md-4">
	  	<div ng-include src="'/partials/homepage/services.html'"></div>
	  </div>
	  <div class="col-xs-6 col-md-4">
	  	<div ng-include src="'/partials/homepage/news.html'"></div>
	  </div>
	  <div class="col-xs-6 col-md-4">
	  	<div ng-include src="'/partials/homepage/calendar.html'"></div>
	  </div>
	</div>
</div>
